name: PythonCI
on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]
    schedule:
      - cron: '* */2 * * *'  #   分 时 日 月 周
    repository_dispatch:
      types:
        - webhook-1

  # https://docs.github.com/cn/actions/learn-github-actions/events-that-trigger-workflows
  # workflow_dispatch:
  #   push:
  #     branches: [ main ]
  #   pull_request:
  # #     branches: [ main ]
  #   schedule:
  #     - cron: '*/20 * * * *'  #   分 时 日 月 周


jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        #python-version: ["3.8", "3.9", "3.10"]
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run
      run: |
        python proxyFetcher.py ${{ secrets.GTOKEN }}
        echo "run over....."
        ls

    - name: lsa
      run: |
        type java
        java -version

